h1 {
    font-family: Handlee;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

input {
    font-size: 20;
    width: 280px;
    height: 40px;
    margin: 0 0 .5em 0;
}

#inputError {
    border-color: red;
}

#textError {
    color:red;
    font-family: Handlee;
    font-weight:bolder;
    font-size: 15px;
    text-align: center;
    margin:0px;
    line-height: 3px;
}

div{
    text-align: center;
}

a {
    text-decoration: none;
    font-family: Handlee;
    font-weight:bolder;
    font-size: 15px;
    color: rgb(235, 235, 235);
    text-align: center;
}

.ForgotPassword{
    padding-right: 145px;
    text-align: center;
}

.InvalidLoginError{
    color : red;
    text-align: center;
    display: inline-block;
    max-width:300px;
}

button {
    font-family: Handlee;
    font-weight:bolder;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 19px;
    border-radius: 6px;
    background-color:#0b9931;
    margin: 10px;
    border: #0b9931;
}

input[type=text]{
    font-size:18px;
    padding-left: 20px;
}
input[type=password]{
    font-size:18px;
    padding-left: 20px;
}

hr {
    width : 150px;
    border-top: 2px solid #bbb;
    font-weight: bold;
}

#ForgotPasswordHeader {
    font-weight: normal;
    font-size: 60px;
    margin-bottom:0px;
}

#ForgotPasswordLine {
    margin-top: 0px;
    margin-bottom: 0px;
    width:600px;
}

#LetUsHelpYou {
    line-height: 20px;
    margin: 0px;
    font-family: Handlee;
    font-weight: normal;
    font-size: 32px;
    color:white;
}

#SecurityQuestionText{
    font-family: Handlee;
    font-weight: normal;
    font-size: 40px;
    margin-bottom:0px;
}

#logout-button{
    text-align: right;
    font-family: Handlee;
    font-weight: bold;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(140, 223, 158);
    color: white;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  select {
    width: 280px;
    height: 40px;
  }
 
#LeafBorderLeft {
    /* display: inline; */
    position: absolute;
    width: 90px;
    margin-top: -80px;
    margin-left: -60%;
}

#LeafBorderRight {
    /* display: inline; */
    position: absolute;
    width: 90px;
    margin-top: -80px;
    margin-left: 35%;
}
.login-screen { 
    background: url(/images/login-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .register-screen { 
    background: url(/images/register-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .reset-screen { 
    background: url(/images/reset-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #myPieChart {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  #scatter-plot {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  #title-text{
    color: #4e73df;
    padding-top: 2%;
  }